

/* ==================================================== */
/* ==================== Right Menu ==================== */
/* ==================================================== */

aside{
	background-color: #fff;
	border-right: solid thin #ccc;
}




/* ==================================================== */
/* ==================== Main Content ================== */
/* ==================================================== */
main{
	background-color: #eee;
}


